<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag 'Background 17.jpg', class: "hero-image",alt: "Beautiful golf hole by the ocean" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="buffer-25"></div>
  <div class="buffer-50"></div>
  <div class="container">
    <div class="container text-center col-xs-10 col-xs-push-1" style="background-color: rgba(235, 235, 235, 0.8) !important">
      <h1 style="color: black">Sign Up</h1>

      <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs text-left row">
          <div class="col-sm-6">
            <%= f.input :first_name, required: true %>
          </div>
          <div class="col-sm-6">
            <%= f.input :last_name, required: true %>
          </div>
          <div class="col-sm-6">
            <%= f.label "Current Golf Score" %>
            <%= f.text_field :g_score_start, class: "form-control", required: true %>
          </div>
          <div class="col-sm-6">
            <%= f.input :email, required: true, autofocus: true %>
          </div>
          <div class="col-sm-6">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
          <div class="col-sm-6">
            <%= f.input :password_confirmation, required: true %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div> <!-- columns box -->
  </div> <!-- container -->
</div> <!-- overlap-tall-hero-image -->
