<div class="container">

  <div class="text-center page-title-bar">
    <h1>Full Swing Club Fitting</h1>
    <%= image_tag 'PingClubFullSwing.jpg', alt: "Ping Full Swing Club", class: "fitting-hero" %>
    <h4 class="image-description"><small>Fitted clubs have proven to generate more distance, optimize one’s ball flights and consistency you need to shoot lower scores.</small></h4>
  </div>

  <div class="content-text">
    <p>If you're going to buy golf clubs you need to buy clubs that properly fit you and your body. For the same money why not get clubs that truly fit you and benefit your golf game!
      <br><br>The process is not hard, it's actually quite informative, and it benefits beginners to higher handicappers, to low handicappers, to tour professionals. Most important, it will make golf less frustrating, because fitted clubs promote a more efficient swing.
      <br><br>Yes, it's possible to hit the ball straight with poorly fitted clubs, but usually only by introducing compensations that rob the swing of power and make it hard to repeat consistently. Club fitting should match one's body structure, swing speed, and swing style. This will determine one’s club length, lie angel, shaft flex, grip size, and club face design. If your going to buy golf clubs, buy ones that truly fit you, having the right equipment truly matters!
    </p>

    <h4 class="cta">Go to <a href="http://www.ping.com/fitting/nflightweb.aspx" target="_blank">PING.com</a> to get an initial fit of what fits you best.</h4>

    <div class="text-center">
      <a href="http://www.ping.com/fitting/nflightweb.aspx" target="_blank"><%= image_tag 'PING_nFlightWeb_Final.png', alt: "Ping nFlight Web Logo", class: "ping-logo hvr-pulse-grow" %></a>
    </div> <!-- text center -->

    <div class="row">
      <div class="col-xs-10 col-xs-push-1" style="border: solid #C0C0C0 thin; border-radius: 5px; margin: 30px 0 10px 0">
        <h3 class="text-center">Which&nbsp;club&nbsp;fits&nbsp;you&nbsp;best?  Add&nbsp;it&nbsp;to&nbsp;your&nbsp;profile!</h3>
        <%= form_for @club_fitting do |f| %>
          <div class="col-sm-6">
              <%= f.hidden_field :club_type, value: "Full Swing" %>
            <div class="form-group">
              <%= f.label :model %>
              <%= f.text_field :model, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label :loft %>
              <%= f.number_field :loft, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label "Hostel Position" %>
              <%= f.text_field :hosel_position, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label :shaft %>
              <%= f.text_field :shaft, class: "form-control" %>
            </div> <!-- form group -->
          </div> <!-- inner column -->
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :flex %>
              <%= f.text_field :flex, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label :length %>
              <%= f.text_field :length, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label :grip %>
              <%= f.text_field :grip, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label "Grip Color Code" %>
              <%= f.text_field :grip_color_code, class: "form-control" %>
            </div> <!-- form group -->
          </div> <!-- inner column -->
          <div class="text-center">
            <%= f.submit "Add to Profile", class: "btn-custom hvr-box-shadow-outset" %>
          </div>
        <% end %>
      </div> <!-- reporting box -->
    </div> <!-- row -->
  </div> <!-- container -->

<div class="row">
  <div class="bottom-arrows">
    <div class="col-xs-6 text-left">
      <h4><%= link_to fitting_putter_path do %>
        <%= image_tag 'LogoLeftArrow.jpg', alt: "Left Arrow", class: "fitting-arrow" %>
        Putter Fitting
      </h4><% end %>
    </div> <!-- column -->
    <div class="col-xs-6 text-right">
      <h4><%= link_to fitting_wedge_path do %>
        Wedge Fitting
        <%= image_tag 'LogoRightArrow.jpg', alt: "Right Arrow", class: "fitting-arrow" %>
      </h4><% end %>
    </div> <!-- column -->
  </div> <!-- bottom-arrows -->
</div> <!-- row -->

</div> <!-- container end -->
