<div class="container">

  <div class="text-center page-title-bar">
    <h1>Putter Fitting</h1>
    <%= image_tag 'PingClubPutter.png', alt: "Ping Putter", class: "fitting-hero" %>
    <h4 class="image-description"><small>Most golfers buy their putter based on looks or popularity. However, being fitted for a putter is every bit as important as any other club in your bag, especially since the putter is used more than any other in the bag.</small></h4>
  </div>

  <div class="content-text">
    <p>Here are the checkpoints you should go through to find a putter that is custom fit for you and will save you lots of strokes:
      <ul>
        <li><strong>Arc: </strong>Identify your stroke type: straight, slight arc, or strong arc. You want a putter style that matches your arc.</li>
        <li><strong>Head Style: </strong>Selecting the correct head style (mallet, blade, large face, small face, heavy or light head, alignment markings, no markings, offset, heel shafted, mid shafted, etc.) will help or hinder your ability to aim the putter most accurately.</li>
        <li><strong>Length: </strong>The length of the shaft will effect your set up and you’re your stroke. If proper, it will encourage you to get into great posture and allow your flow lines to match up to your target line.</li>
        <li><strong>Lie Angle: </strong>The lie angle of the shaft will also effect your set up and your stroke. If proper, it will encourage you to get into great posture and allow your flow lines to match up to your target line.</li>
        <li><strong>Loft: </strong>This will need to be looked at based on an individual’s type of putting stroke and ball position.</li>
        <li><strong>Head Weight: </strong>Identify what feels and works best for you.</li>
        <li><strong>Grip Size: </strong>Identify stroke type, straight, slight arc, or strong arc.</li>
      </ul>
      There’s no question that you will be using your putter more than any other club in your bag, so take the time to get a putter that’s fit for you. If you want to shave several shots off your score, having the right putter is critical. If you need help here contact your local Ping professional fitter, or a PGA professional putter fitter.
      <br><br>The right putter with putter stoke that matches you can save you 5 plus shots a round.
    </p>

    <h4 class="cta">Go to <a href="http://www.ping.com/fitting/nflightweb.aspx" target="_blank">PING.com</a> to get an initial fit of what fits you best.</h4>

    <%= image_tag 'PING_nFlightWeb_Final.png', alt: "Ping nFlight Web Logo", class: "ping-logo" %>
  </div>

  <div class="bottom-arrows">
    <div class="col-xs-6 text-left">
      <h4><%= link_to fitting_wedge_path do %>
        <%= image_tag 'LogoLeftArrow.jpg', alt: "Left Arrow", class: "fitting-arrow" %>
        Wedge Fitting
      </h4><% end %>    </div>
    <div class="col-xs-6 text-right">
      <h4><%= link_to fitting_full_path do %>
        Full Swing Fitting
        <%= image_tag 'LogoRightArrow.jpg', alt: "Right Arrow", class: "fitting-arrow" %>
      </h4><% end %>
    </div>
  </div>

</div> <!-- container end -->
