<div class="container">

  <div class="text-center page-title-bar">
    <h1>Wedge Fitting</h1>
    <%= image_tag 'PingClubWedge.png', alt: "Ping Wedge", class: "fitting-hero" %>
    <h4 class="image-description"><small>Fitted clubs have proven to generate more distance, optimize one’s ball flights and consistency you need to shoot lower scores.</small></h4>
  </div>

  <div class="content-text">
    <p>Most amateur golfers only hit 6 greens or less in a round, if they are having a good day. So on the majority of holes, you are going to be using a wedge for some type of chip shot, little pitch shot, bunker shot, lob shot, or fairway wedge shots.
      <br><br>When its time to select a wedge is your swing path shallow or steep, do you play out of bunkers with soft or firm sand, tight lies, thick grass, this can effect the type of sole and bounce that works best for you. The bounce needs to match your swing and golf conditions that you normally face.
      <br><br>Wedges need to be versatile, yet still fit the individual. We also have to take a close look at actual loft that's in your bag:
      <ul>
        <li><strong>Loft: </strong>The amount of loft and gap between wedges gives you controls over your distances and trajectory, most wedges are 48, 50, 52, 54, 56, or 60 degrees. We recommend either (4 wedges all 4 degrees apart) 48, 52, 56, 60 degree or (3 wedges all 6 degrees apart) 48, 54, 60 degree.</li>
        <li><strong>Bounce: </strong>The bounce on a wedge, usually 4, 6, 8, 10, 12, or 14 degree is just as important as loft. A low bounce (4-8) is great for hard surface, firm bunkers, and shots with open face on tight lies. High bounce 10 plus is best for rough, collars, soft turf, and bunkers with a lot of soft sand. If you open the face on your club, you add bounce, if you close it you lower, and if you forward press you loose bounce. For most golfers with 3 wedges, 48, 54, & 60 degree we recommend high bounce on 54 degree (10, 12, 14 degree bounce) and low bounce on 60 degree (6 or 8 degree bounce), this way you can have wedge for all types off conditions.</li>
      </ul>
      Consult your local PGA teaching pro if you have more questions about what wedge set up best match you and your golf game.
      <br><br>Having the right wedges will help your short game and let you enjoy the game more.
    </p>

    <h4 class="cta">Go to <a href="http://www.ping.com/fitting/nflightweb.aspx" target="_blank">PING.com</a> to get an initial fit of what fits you best.</h4>
  </div>

  <div class="text-center">
    <a href="http://www.ping.com/fitting/nflightweb.aspx" target="_blank"><%= image_tag 'PING_nFlightWeb_Final.png', alt: "Ping nFlight Web Logo", class: "ping-logo hvr-pulse-grow" %></a>
  </div> <!-- text center -->

  <div class="row">
    <div class="col-xs-10 col-xs-push-1" style="border: solid #C0C0C0 thin; border-radius: 5px; margin: 30px 0 10px 0">
      <h3 class="text-center">Which&nbsp;wedge&nbsp;fits&nbsp;you&nbsp;best?  Add&nbsp;it&nbsp;to&nbsp;your&nbsp;profile!</h3>
      <%= form_for @club_fitting do |f| %>
        <div class="row">
          <div class="col-sm-6">
              <%= f.hidden_field :club_type, value: "Wedge" %>
            <div class="form-group">
              <%= f.label :model %>
              <%= f.text_field :model, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label "Color Code" %>
              <%= f.text_field :color_code, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label :shaft %>
              <%= f.text_field :shaft, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label :flex %>
              <%= f.text_field :flex, class: "form-control" %>
            </div> <!-- form group -->
          </div> <!-- inner column -->
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :length %>
              <%= f.text_field :length, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label :grip %>
              <%= f.text_field :grip, class: "form-control" %>
            </div> <!-- form group -->
            <div class="form-group">
              <%= f.label "Grip Color Code" %>
              <%= f.text_field :grip_color_code, class: "form-control" %>
            </div> <!-- form group -->
          </div> <!-- inner column -->
        </div> <!-- row -->
        <div class="text-center row">
          <%= f.submit "Add to Profile", class: "btn-custom hvr-box-shadow-outset" %>
        </div>
      <% end %>
    </div> <!-- reporting box -->
  </div> <!-- row -->

  <div class="bottom-arrows">
    <div class="col-xs-6 text-left">
      <h4><%= link_to fitting_full_path do %>
        <%= image_tag 'LogoLeftArrow.jpg', alt: "Left Arrow", class: "fitting-arrow" %>
        Full Swing Fitting
      </h4><% end %>    </div>
    <div class="col-xs-6 text-right">
      <h4><%= link_to fitting_putter_path do %>
        Putter Fitting
        <%= image_tag 'LogoRightArrow.jpg', alt: "Right Arrow", class: "fitting-arrow" %>
      </h4><% end %>
    </div>
  </div>

</div> <!-- container end -->
