<div class="tall-hero-image-row">
  <div class="tall-hero-image-outer text-center">
    <div class="tall-hero-image-inner text-center">
      <%= image_tag 'Background 5 Tall.jpg', class: "tall-hero-image",alt: "Sunset Over Pelican Hill Golf Course and the Ocean" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-tall-hero-image">

  <div class="buffer-50"></div>

<div class="container bs-component text-center">
  <% if current_user.nil? %>
    <%= link_to (new_user_session_path), class: "no-color" do %>
    <div class="container col-sm-4"><div class="well well-triple bs-component teaser-well">
      <h1>Your Genetic Full Swing</h1>
      <p>How can you know your best set up and swing without knowing your Genetic Golf ID code?
      <br><br>You can't.
      <br><br>Find your best swing now.</p>
    </div></div> <!-- well/container -->
    <% end %>
  <% elsif current_user.swing_book.nil? %>
     <%= link_to new_swing_book_path, class: "no-color" do %>
     <div class="container col-sm-4"><div class="well well-triple bs-component teaser-well">
       <h1>Your Genetic Full Swing</h1>
       <p>How can you know your best set up and swing without knowing your Genetic Golf ID code?
       <br><br>You can't.
       <br><br>Find your best swing now.</p>
     </div></div> <!-- well/container -->
     <% end %>
  <% else %>
     <%= link_to edit_swing_book_path(current_user.swing_book), class: "no-color" do %>
     <div class="container col-sm-4"><div class="well well-triple bs-component teaser-well">
       <h1>Your Genetic Full Swing</h1>
       <p>How can you know your best set up and swing without knowing your Genetic Golf ID code?
       <br><br>You can't.
       <br><br>Find your best swing now.</p>
     </div></div> <!-- well/container -->
     <% end %>
  <% end %>

<%= link_to coming_soon_short_book_path, class: "no-color" do %>
  <div class="container col-sm-4"><div class="well well-triple bs-component teaser-well">
    <h1>Your Genetic Short Game</h1>
    <p>Putting and short game make up 64% of your game.
    <br><br>Find the secret to your best short game today!</p>
  </div></div> <!-- well/container -->
  <% end %>

<%= link_to coming_soon_putting_book_path, class: "no-color" do %>
  <div class="container col-sm-4"><div class="well well-triple bs-component teaser-well">
    <h1>Your Genetic Putting Game</h1>
    <p>It's critical to be great on the green if you want lower scores.
    <br><br>Learn how to turn 3-putts into 2-putts, and make more 1-putts.</p>
  </div></div> <!-- well/container -->
  <% end %>

<%= link_to game_instruction_path, class: "no-color" do %>
  <div class="container col-sm-6"><div class="well well-double bs-component teaser-well">
    <h1>Genetic Golf Private Instruction</h1>
    <p>We are currently certifying instructors that will be able to conduct evaluations and work with you to improve all aspects of your game.
    <br><br>Find a Genetic Golf instructor near you!</p>
  </div></div> <!-- well/container -->
<% end %>

<%= link_to game_programs_path, class: "no-color" do %>
  <div class="container col-sm-6"><div class="well well-double bs-component teaser-well">
    <h1>Golf School and Custom Programs</h1>
    <p>At Genetic Golf schools we focus on you!
    <br><br>We begin with a full evaluation, then run specific tests to evaluate how your body performs best.
    <br><br>Find out about Genetic Golf schools and custom events!</p>
  </div></div> <!-- well/container -->
<% end %>

</div> <!-- container bs-component -->


<script>
$( document ).ready(function() {
    var heights = $(".well-triple").map(function() {
        return $(this).height();
    }).get(),
    maxHeight = Math.max.apply(null, heights);
    $(".well-triple").height(maxHeight);

    var heights = $(".well-double").map(function() {
        return $(this).height();
    }).get(),
    maxHeight = Math.max.apply(null, heights);
    $(".well-double").height(maxHeight);

    window.onresize = function(){ location.reload(); }
});
</script>
