<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag 'Background 2.jpg', class: "hero-image",alt: "View of Golf Course, Ocean, and Dunes" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">

  <div class="buffer-50"></div>

<% if current_user.nil? %>
  <%= link_to (new_session_path), class: "no-color" do %>
  <div class="container bs-component text-center">
    <div class="container col-sm-6"><div class="well bs-component teaser-well">
      <h1>Test Your Personality</h1>
      <p>Most golf websites and golf newsletters provide generic golf tips that are designed to fit everyone.
        <br><br><strong>That's crazy when it comes to golf.</strong>
        <br><br>Your personality has a direct effect on how you learn best, your mental process, how you perform best, and how you can play your best golf.
        <br><br>The first step to a better golf game is to identify your personality.</p>
  </div></div> <!-- well/container -->
  <% end %>
<% elsif current_user.per_quiz.nil? %>
   <%= link_to (new_per_quiz_path), class: "no-color" do %>
   <div class="container bs-component text-center">
     <div class="container col-sm-6"><div class="well bs-component teaser-well">
       <h1>Test Your Personality</h1>
       <p>Most golf websites and golf newsletters provide generic golf tips that are designed to fit everyone.
         <br><br><strong>That's crazy when it comes to golf.</strong>
         <br><br>Your personality has a direct effect on how you learn best, your mental process, how you perform best, and how you can play your best golf.
         <br><br>The first step to a better golf game is to identify your personality.</p>
  </div></div> <!-- well/container -->
  <% end %>
<% else %>
   <%= link_to (edit_per_quiz_path(current_user.per_quiz)), class: "no-color" do %>
   <div class="container bs-component text-center">
     <div class="container col-sm-6"><div class="well bs-component teaser-well">
       <h1>Test Your Personality</h1>
       <p>Most golf websites and golf newsletters provide generic golf tips that are designed to fit everyone.
         <br><br><strong>That's crazy when it comes to golf.</strong>
         <br><br>Your personality has a direct effect on how you learn best, your mental process, how you perform best, and how you can play your best golf.
         <br><br>The first step to a better golf game is to identify your personality.</p>
  </div></div> <!-- well/container -->
  <% end %>
<% end %>

<%= link_to (welcome_newsletter_path), class: "no-color" do %>
  <div class="container col-sm-6"><div class="well bs-component teaser-well">
    <h1>Golf Tips for Your Personality</h1>
    <p>Your improvement is dependent on evaluating your body, knowing what skills you need help on, and matching your swing to your body and your personality.
      <br><br>So why would you apply a generic golf tip to your game if it doesn’t fit you or you’re body or your genetic golf model?
      <br><br>The newsletter you receive from us truly fits you and your body.</p>
  </div></div> <!-- well/container -->
  <% end %>
</div> <!-- container bs-component -->

</div>

<script>
$( document ).ready(function() {
    var heights = $(".teaser-well").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".teaser-well").height(maxHeight);

    window.onresize = function(){ location.reload(); }
});
</script>
