<%= form_for @per_quiz do |f| %>
  <div class="row">
      <div class="col-sm-12 text-center">

        <div class="form-group col-sm-6 bottom-pad-15">
          <a href="http://www.ipersonic.com/test.html" target="_blank"><h3 class="text-center">Take the iPersonic Personality Test</h3>
          <%= image_tag "Logo (iPersonic).png", class: "personality-logo" %></a>
          <p>Select Your Result:</p>
          <%= f.select :iper_code, options_for_select([['Analytical Thinker', 'INTP'], ['Determined Realist', 'ESTJ'], ['Dreamy Idealist', 'INFP'], ['Dynamic Thinker', 'ENTJ'], ['Energetic Doer', 'ESTP'], ['Engaged Idealist', 'ENFJ'], ['Good-Natured Realist', 'ISFJ'], ['Groundbreaking Thinker', 'ENTP'], ['Harmony-Seeking Idealist', 'INFJ'], ['Independent Thinker', 'INTJ'], ['Individualistic Doer', 'ISTP'], ['Laid-Back Doer', 'ESFP'], ['Reliable Realist', 'ISTJ'], ['Sensitive Doer', 'ISFP'], ['Social Realist', 'ESFJ'], ['Spontaneous Idealist', 'ENFP']]), {}, {class: "form-control"} %>
        </div>


        <div class="form-group col-sm-6 bottom-pad-15 text-center">
          <a href="http://www.my-personality-test.com/personality-type/" target="_blank"><h3 class="text-center">Take the iPersonic Personality Test</h3>
          <%= image_tag "Logo (My-Personality).png", class: "personality-logo" %></a>
          <p>Select Your Result:</p>
          <%= f.select :myper_code, options_for_select([['ISTJ', 'ISTJ'], ['ISTP', 'ISTP'], ['ESTP', 'ESTP'], ['ESTJ', 'ESTJ'], ['ISFJ', 'ISFJ'], ['ISFP', 'ISFP'], ['ESFP', 'ESFP'], ['ESFJ', 'ESFJ'], ['INFJ', 'INFJ'], ['INFP', 'INFP'], ['ENFP', 'ENFP'], ['ENFJ', 'ENFJ'], ['INTJ', 'INTJ'], ['INTP', 'INTP'], ['ENTP', 'ENTP'], ['ENTJ', 'ENTJ']]), {}, {class: "form-control"} %>
        </div>

    </div> <!-- column end -->
  </div> <!-- row end -->

    <div class="buffer-25"></div>

  <div class="row">
    <div class="col-xs-12 center-block">
        <div class="text-center"><%= f.submit "Submit Your Results", class: "btn-custom" %></div>
      </div> <!-- column end -->
  </div> <!-- row end -->

  <div class="row">
    <p class="text-center col-sm-10 col-sm-push-1">Genetic Golf test and coaching provides you with information that actually benefits you, your body, and your mind, because everything is based on your individual test results. Everything is personalized to fit you!</p>
  </div> <!-- row -->
<% end %>
