<div class="container">
  <div class="text-center">
    <h1 style="margin-bottom: 20px"><strong>Step 1:</strong> Test Your Personality</h1>
  </div> <!-- text center heading -->

  <div class="row">
    <div class="col-xs-8">
      <div style="padding: 0 0 0 20px">
        <h4>You can't listen to generic golf tips that don't take your individual personality into account. <strong>Test your personality</strong> to gain access to golf tips that <strong>truly fit you</strong> and are guaranteed to better your game more than any one-size-fits-all approach.</h4>
        <h4>Take these two tests to get golf tips that are custom fit for your personality and find your best golf game!</h4>
      </div> <!-- container -->
      <div class="hidden-xs">
        <%= form_for @per_quiz do |f| %>
          <div class="row">
              <div class="col-sm-12 text-center">
                <div class="form-group col-sm-6 bottom-pad-15">
                  <a href="http://www.ipersonic.com/test.html" target="_blank"><h3 class="text-center">Take the iPersonic Personality Test</h3>
                  <p class="text-center" style="color: black; text-decoration: none">(2-4 Minutes)</p>
                  <%= image_tag "Logo (iPersonic).png", class: "personality-logo" %></a>
                  <p>Select Your Result:</p>
                  <%= f.select :iper_code, options_for_select([['Analytical Thinker', 'Analytical Thinker'], ['Determined Realist', 'Determined Realist'], ['Dreamy Idealist', 'Dreamy Idealist'], ['Dynamic Thinker', 'Dynamic Thinker'], ['Energetic Doer', 'Energetic Doer'], ['Engaged Idealist', 'Engaged Idealist'], ['Good-Natured Realist', 'Good-Natured Realist'], ['Groundbreaking Thinker', 'Groundbreaking Thinker'], ['Harmony-Seeking Idealist', 'Harmony-Seeking Idealist'], ['Independent Thinker', 'Independent Thinker'], ['Individualistic Doer', 'Individualistic Doer'], ['Laid-Back Doer', 'Laid-Back Doer'], ['Reliable Realist', 'Reliable Realist'], ['Sensitive Doer', 'Sensitive Doer'], ['Social Realist', 'Social Realist'], ['Spontaneous Idealist', 'Spontaneous Idealist']]), {}, {class: "form-control"} %>
                </div>
                <div class="form-group col-sm-6 bottom-pad-15 text-center">
                  <a href="http://www.my-personality-test.com/personality-type/" target="_blank"><h3 class="text-center">Take the iPersonic Personality Test</h3>
                  <p class="text-center" style="color: black; text-decoration: none">(10-20 Minutes)</p>
                  <%= image_tag "Logo (My-Personality).png", class: "personality-logo" %></a>
                  <p>Select Your Result:</p>
                  <%= f.select :myper_code, options_for_select([['ISTJ', 'ISTJ'], ['ISTP', 'ISTP'], ['ESTP', 'ESTP'], ['ESTJ', 'ESTJ'], ['ISFJ', 'ISFJ'], ['ISFP', 'ISFP'], ['ESFP', 'ESFP'], ['ESFJ', 'ESFJ'], ['INFJ', 'INFJ'], ['INFP', 'INFP'], ['ENFP', 'ENFP'], ['ENFJ', 'ENFJ'], ['INTJ', 'INTJ'], ['INTP', 'INTP'], ['ENTP', 'ENTP'], ['ENTJ', 'ENTJ']]), {}, {class: "form-control"} %>
                </div>
            </div> <!-- column end -->
          </div> <!-- row end -->
          <div class="row">
            <div class="col-xs-12 center-block">
                <div class="text-center"><%= f.submit "Submit Your Results", class: "hvr-box-shadow-outset btn-custom" %></div>
              </div> <!-- column end -->
          </div> <!-- row end -->
        <% end %>
      </div> <!-- hidden-xs -->
    </div> <!-- text column -->

    <div class="col-xs-4">
      <%= image_tag "graphic_mind_gears.jpg", class: "slideRight", style: "width: 100%; max-width: 300px"%>
    </div> <!-- image -->
  </div> <!-- intro text row -->

  <div class="container">
    <div class="visible-xs" style="margin-top: 50px">
      <%= form_for @per_quiz do |f| %>
        <div class="row">
            <div class="col-sm-12 text-center">
              <div class="form-group col-sm-6 bottom-pad-15">
                <a href="http://www.ipersonic.com/test.html" target="_blank"><h3 class="text-center">Take the iPersonic Personality Test</h3>
                <p class="text-center" style="color: black; text-decoration: none">(2-4 Minutes)</p>
                <%= image_tag "Logo (iPersonic).png", class: "personality-logo" %></a>
                <p>Select Your Result:</p>
                <%= f.select :iper_code, options_for_select([['Analytical Thinker', 'Analytical Thinker'], ['Determined Realist', 'Determined Realist'], ['Dreamy Idealist', 'Dreamy Idealist'], ['Dynamic Thinker', 'Dynamic Thinker'], ['Energetic Doer', 'Energetic Doer'], ['Engaged Idealist', 'Engaged Idealist'], ['Good-Natured Realist', 'Good-Natured Realist'], ['Groundbreaking Thinker', 'Groundbreaking Thinker'], ['Harmony-Seeking Idealist', 'Harmony-Seeking Idealist'], ['Independent Thinker', 'Independent Thinker'], ['Individualistic Doer', 'Individualistic Doer'], ['Laid-Back Doer', 'Laid-Back Doer'], ['Reliable Realist', 'Reliable Realist'], ['Sensitive Doer', 'Sensitive Doer'], ['Social Realist', 'Social Realist'], ['Spontaneous Idealist', 'Spontaneous Idealist']]), {}, {class: "form-control"} %>
              </div>
              <hr style="width: 50%; margin-left: 25%; padding: 15px 0 15px 0">
              <div class="form-group col-sm-6 bottom-pad-15 text-center">
                <a href="http://www.my-personality-test.com/personality-type/" target="_blank"><h3 class="text-center">Take the iPersonic Personality Test</h3>
                <p class="text-center" style="color: black; text-decoration: none">(10-20 Minutes)</p>
                <%= image_tag "Logo (My-Personality).png", class: "personality-logo" %></a>
                <p>Select Your Result:</p>
                <%= f.select :myper_code, options_for_select([['ISTJ', 'ISTJ'], ['ISTP', 'ISTP'], ['ESTP', 'ESTP'], ['ESTJ', 'ESTJ'], ['ISFJ', 'ISFJ'], ['ISFP', 'ISFP'], ['ESFP', 'ESFP'], ['ESFJ', 'ESFJ'], ['INFJ', 'INFJ'], ['INFP', 'INFP'], ['ENFP', 'ENFP'], ['ENFJ', 'ENFJ'], ['INTJ', 'INTJ'], ['INTP', 'INTP'], ['ENTP', 'ENTP'], ['ENTJ', 'ENTJ']]), {}, {class: "form-control"} %>
              </div>
          </div> <!-- column end -->
        </div> <!-- row end -->
        <div class="row">
          <div class="col-xs-12 center-block">
              <div class="text-center"><%= f.submit "Submit Your Results", class: "hvr-box-shadow-outset btn-custom" %></div>
            </div> <!-- column end -->
        </div> <!-- row end -->
      <% end %>
    </div> <!-- visible-xs -->
  </div> <!-- xs quiz container-->
</div> <!-- container -->
