<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag 'Background 17.jpg', class: "hero-image",alt: "Beautiful golf hole by the ocean" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="buffer-25"></div>
  <div class="buffer-50"></div>
  <div class="container">
    <div class="container text-center col-xs-10 col-xs-push-1" style="background-color: rgba(235, 235, 235, 0.8) !important">

      <h1 style="color: black">Log In</h1>
      <h1 style="color: black; font-size: 18px">Don't have an account? <%= link_to "Sign up", new_user_registration_path %> today!</h1>

      <%= simple_form_for(resource, as: resource_name, url: user_session_path) do |f| %>
        <div class="form-inputs text-left">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log In", class: "btn-custom" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div> <!-- columns box -->
  </div> <!-- container -->
</div> <!-- overlap-tall-hero-image -->
