<div class="container">

  <div class="text-center page-title-bar">
    <h1>Training Aids</h1>
    <h2><small>Information coming soon!</small></h2>
  </div>

  <div class="content-text">

    <div class="product-listing clearfix">
      <h4>Orange Whip Mid-Size</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/OW_MidSize.jpg', alt: "Orange Whip Mid-Size", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Length: 43.5", Weight: 1.70lbs</small></h4>
          <p>The Orange Whip Mid-Size is universal for both men and women and is easily handled by all golfers including seniors, beginners, and shorter players.</p>
        <h4><small>Features and Specs</small></h4>
          <p><ul>
            <li>Designed for all golfers including seniors, women, and teens</li>
            <li>Simulates iron motion for men and taller women</li>
            <li>Simulates driver motion for women and teens</li>
            <li>Provides core fitness and flexibility</li>
          </ul></p>
          <a href="https://www.orangewhiptrainer.com/order.php?pc=geneticgolf" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Orange Whip Compact</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/OW_Compact.png', alt: "Orange Whip Compact", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Length: 35.5", Weight: 1.60lbs</small></h4>
          <p>The Orange Whip Compact is perfect for indoor use and travel. Its convenient length and versatile design are perfect for men, women, seniors, and teens.</p>
        <h4><small>Benefits</small></h4>
          <p><ul>
            <li>35.5” length is perfect for indoor use and travel</li>
            <li>Whippy shaft for maximum feedback similar to the longer trainers</li>
            <li>Simulates short iron motion to sharpen your shorter shots</li>
            <li>Often purchased with the larger Trainer and Mid-Size swing trainers</li>
          </ul></p>
          <a href="https://www.orangewhiptrainer.com/order.php?pc=geneticgolf" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Orange Whip Peel</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/OW_Peel.jpg', alt: "Orange Whip Peel", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Length: 44" x 24", Weight: 15 lbs</small></h4>
          <p>The Orange Peel provides the perfect foundation for all of your swing training needs.</p>
        <h4><small>Benefits</small></h4>
          <p><ul>
            <li>Concave shape engages your body into its natural stance</li>
            <li>Recreates all golf course slope conditions</li>
            <li>Promotes a rotational golf swing</li>
            <li>Prevents lateral movement commonly known as "swaying"</li>
            <li>Effective for adjusting your swing plane</li>
          </ul></p>
          <a href="https://www.orangewhiptrainer.com/order.php?pc=geneticgolf" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Orange Whip Junior</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/OW_Junior.png', alt: "Orange Whip Junior", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Length: 38" Weight: 1.30lbs</small></h4>
          <p>The lighter weights, smaller grip, and shorter length of the Orange Whip Junior are ideal for junior golfers in developing their golf swing.</p>
        <h4><small>Benefits</small></h4>
          <p><ul>
            <li>Simulates full swing motion for juniors</li>
            <li>Suggested age range: 6-12</li>
          </ul></p>
          <a href="https://www.orangewhiptrainer.com/order.php?pc=geneticgolf" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Fiberglass Rods</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_FiberglassRods.JPG', alt: "Fiberglass Rods", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Fiberglass Rods, 48"</small></h4>
          <p>For all aspects of one's golf game. Fiberglass rods used to help with alignment and setup position. Place on the ground towards your target or insert in the ground to monitor plane or body movement.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Swingyde</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_Swingyde.jpg', alt: "Swingyde", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Swingyde</small></h4>
          <p>Great for teaching correct hinge action.  Teaches players a better takeaway, when to set the wrists and position at the top of the backswing. Keep the wrists set as long as possible on the downswing.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Impact Bag® by Dr. Gary Wiren</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_ImpactBag.JPG', alt: "Impact Bag", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Impact Bag</small></h4>
          <p>Impact Bag® is one of the most popular training aids of all time for the following reason - there is only one moment of truth in the golf swing - Impact! This device teaches the correct position and feel for that moment.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Weighted Irons</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_WeightedIrons.JPG', alt: "Weighted Irons", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Available in 32 oz, 40 oz, or 48 oz</small></h4>
          <p>A uniquely weighted swing trainer whose weight is evenly distributed throughout the entire length of the shaft. Helps keep the club on plane.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Strength Trainers</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_StrengthTrainers.jpg', alt: "Strength Trainers", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>6.5 lbs</small></h4>
          <p>A uniquely weighted swing trainer that allows golfer's to work with a relatively heavy weight while maintaining proper form. Includes 52 page manual featuring Sean Cochran.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Ball First Trainer</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_BallFirst.JPG', alt: "Ball First Trainer", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>17" x 9.5"</small></h4>
          <p>U shaped training aid encourages better swing path with descent through impact. Product is made from a durable silicon rubber and weighs 9 oz.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Impact Decals</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_ImpactDecals.jpg', alt: "Impact Decals", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Roll of 250</small></h4>
          <p>A great deal on a needed item on the lesson tee. Immediately shows where the ball was stuck on the clubface.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Tac-Tic Wrist</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_TacTicWrist.JPG', alt: "Tac-Tic Wrist", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Fits Left or Right, One Size Fits All</small></h4>
          <p>This wrist strap makes a loud click sound if the player breaks down the lead wrist when chipping or pitching. Encourages crisp contact with the ball.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>Accelerator Putting Mats</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_PuttingMats.JPG', alt: "Accelerator Putting Mats", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Squaring lines at 3', 5' and 7'</small></h4>
          <p>Trains the player to see square. Includes extra track on the side to feed the ball back to the player.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->

    <div class="product-listing clearfix">
      <h4>CS2 Target putting Cup</h4>
      <div class="col-sm-3 product-image-div">
        <%= image_tag 'Affiliate Products/GTA_PuttingCup.jpg', alt: "CS2 Target putting Cup", class: "product-image" %>
      </div>
      <div class="col-sm-9 product-text">
        <h4><small>Put 5 to 10 balls before you have to retrieve them</small></h4>
          <p>A unique target cup with a side exit port that feeds the balls out the side so you can keep putting at the target.</p>
          <a href="http://www.golftrainingaids.com/emailpromotion.asp?key=157942" target="_blank"><button type="button" class="btn-custom">Get it Now</button></a>
        </div> <!-- product info -->
    </div> <!-- product listing -->


  </div> <!-- content-text -->

</div> <!-- container end -->
