<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag 'Background 10.jpg', class: "hero-image",alt: "View of Pelican Hill Golf Course" %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="buffer-50"></div>
  <div class="container">
    <div class="text-center page-title-bar">
      <h1>Genetic Golf Principles</h1>
      <h2>Test, Don't Guess!</h2>
    </div>
  </div> <!-- container -->
</div> <!-- overlap-hero-image -->

<div class="container" style="margin-top: 30px">
  <div class="content-text container">
    <p>Genetic Golf’s new dynamic learning style will change the future of golf lessons.
      <br><br>It is a paradigm shift in which we test each person to find your best genetic golf motion. Next, we help you implement fundamentals that fit your body to create a solid golf game that matches you, your body, and your mind.
      <br><br>All golfers are not alike and this game can be complex for those that truly want to improve their skills.
      <br><br>Optimal performance at any level requires finding a motion and learning approach that matches the individual, instead of the person trying to make a motion that doesn’t fit them.
      <br><br>Without Genetic Golf testing, you are just guessing and you won’t get the best results for you.
      <br><br>It’s all about learning a motion that works with you so that you can repeat it and become a more consistent golfer. We are all different individuals, so learning the perfect model that doesn’t fit your body is not the answer.
      <br><br>Genetic Golf has assembled a series of test to help you find your most natural motion and neurokenitic power positions to produce a golf game that fits you, your mind, and your body. Our nationally recognized teaching staff has worked with experts in golf swing, short game, putting, trouble shots, game management, club fitting, golf fitness, and mental coaching to make sure Genetic Golf can help your total game. This overall approach has produced extraordinary results with students at every competitive level in golf including from beginners to PGA tour professionals.
      <br><br>Genetic Golf will help you find your game, and then improve the areas that will most benefit you and your golf game
      <br><br><strong>Our philosophy includes four core competencies that make up your Golf Game:
        <ul>
          <li><%= link_to "Your Swing/Stroke (full swing, short game, trouble shots, and putting)", welcome_game_path %></li>
          <li><%= link_to "Your Body (flexibility, stability, and balance)", welcome_body_path %></li>
          <li><%= link_to "Your Golf Equipment (what fits you and your game)", welcome_resources_path %></li>
          <li><%= link_to "Your Mind (personality, mental game, and course management)", welcome_personality_path %></li>
        </ul>
      </strong>At Genetic Golf we specialize in results through testing, we provide you with your personal Genetic Golf Code to unlock your personal golf code.
      <br><br>The champions of the past found their best genetic golf motion, now you can too! Develop a golf swing that’s easy on your body, helps you become more consistent, and prevent future energy!
    </p>

    <%= link_to welcome_game_path do %>
      <h4 class="cta">Find your personalized Genetic Golf swing today!</h4>
    <% end %>

  </div> <!-- content-text -->
</div> <!-- container end -->
