<div class="container">

  <div class="text-center page-title-bar">
    <h1>Staff and Awards</h1>
  </div>

  <div class="content-text">
    <h3><br>Glenn Deck</h3>
    <h3><small>Director of Instruction, Pelican Hill and Oak Creek Golf Club</small></h3>
    <div class="row text-center">
      <%= image_tag 'Featured Bar Icons/PGA logo.jpg', class: "awards_img", alt: "PGA Logo" %>
      <%= image_tag 'Featured Bar Icons/Golf Magazine Top 100 Logo.jpg', class: "awards_img", alt: "Golf Magazine" %>
      <%= image_tag 'Icons/golf_tips_logo.jpg', class: "awards_img", alt: "Golf Tip Magazine" %>
      <%= image_tag 'Featured Bar Icons/TPI Certified Logo.jpg', class: "awards_img", alt: "TPI Certified Golf Fitness Instructor" %>
    </div> <!-- icon row -->
      <p><br>Glenn Deck, Director of Instruction for Pelican Hill Golf Club and Oak Creek Golf Club, is founder of Genetic Golf. He has been in the golf business for over twenty-five years.  Glenn understands that every golfer is different in physical characteristics and capabilities, and that there is not "one perfect golf swing" that fits everyone. He brings a wealth of knowledge to the game of golf and his goal is to develop one’s own individual game based on their body structure, flexibility, strength, personality, and natural motion. He focuses on all aspects of the game in order to teach one how to lower their scores on the golf course.</p>
    <div class="text-center">
      <p><strong><br>PGA Member ~ Teaching Professional
      <br><br>Golf Tips Magazine Senior Instruction Editor
      <br><br>Southern California PGA Teacher of the Year
      <br><br>Metropolitan Chapter PGA Teacher of the Year
      <br><br>Golf Digest “Ranked One of Best Teachers in State”
      <br><br>“One of GOLF MAGAZINE’s  Top 100 Teachers in America”
    </strong></p></div>

    <%= link_to welcome_game_path do %>
      <h4 class="cta">Get your Genetic Golf code and you will find your best golf game and have more fun!</h4>
    <% end %>
  </div>

</div> <!-- container end -->
