<div class="container-content">
    <div class="container">
    <h1 class="text-center">Contact Us</h1>
        <%= form_for @contact, url: contact_index_path do |f| %>
        <% if @contact.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@contact.errors.count, "error") %>.</h4>
            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_group_tag(@contact.errors[:name]) do %>
            <% if current_user %>
                <%= f.label :name %>
                <%= f.text_field :name, required: true, class: 'form-control', value: current_user.name  %>
            <% else %>
                <%= f.label :name %>
                <%= f.text_field :name, required: true, class: 'form-control'%>
            <% end %>
        <% end %>

        <%= form_group_tag(@contact.errors[:email]) do %>
            <% if current_user %>
                <%= f.label :email %>
                <%= f.text_field :email, required: true, class: 'form-control', value: current_user.email %>
            <% else %>
                <%= f.label :email %>
                <%= f.text_field :email, required: true, class: 'form-control'%>
            <% end %>
        <% end %>

        <%= form_group_tag(@contact.errors[:message]) do %>
          <%= f.label :message %>
          <%= f.text_field :message, class: 'form-control', placeholder: "Enter your message here.", style: "height: 200px" %>
        <% end %>

        <div class="form-group">
          <%= f.submit "Contact Us", class: 'btn btn-primary' %>
        </div>
      <% end %>  </div>
</div>
