<!DOCTYPE html>
<html>
<head>
  <title>Genetic Golf</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/app/assets/images/favicon.ico' %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <link href="https://fonts.googleapis.com/css?family=Muli|Josefin+Sans|Cinzel" rel="stylesheet" type="text/css">

  <!-- bootstrap material design -->
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css">



</head>
<body>

<div class="wrapper">

<div class="very-top">
  <div class="pull-right user-info text-right">
  <% if current_user %>
    <%= link_to current_user.name, user_path(current_user) %> - <%= link_to "Sign Out", session_path(current_user), method: :delete %>
    <% if current_user.swing_book != nil %>
      <p>ID Code:
        <%= current_user.swing_book.swing01 %>
        <%= current_user.swing_book.swing02 %>
        <%= current_user.swing_book.swing03 %>
        -
        <%= current_user.swing_book.swing04 %>
        <%= current_user.swing_book.swing05 %>
        <%= current_user.swing_book.swing06 %>
        -
        <%= current_user.swing_book.swing07 %>
        <%= current_user.swing_book.swing08 %>
        <%= current_user.swing_book.swing09 %>
        <%= current_user.swing_book.swing10 %></p>
    <% end %>
  <% else %>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path %>
  <% end %>
  </div> <!-- user info -->
</div><!-- very-top -->

<div class="container" id="header-detail">
  <div class="col-xs-12">
    <a href="/">
      <%= image_tag "V3   Genetic Golf   Array-02.png", alt: "Genetic Golf main logo", style:"width: 100%"%>
    </a>
  </div> <!-- GG Logo -->
  <h1 class="text-center">Welcome to Genetic Golf</h1>
  <p class="text-center text-muted">Golf is a personal game. Your golf game has to fit you.<br>
    We don’t guess, we test to find what works best for you.</p>
</div>  <!-- header-detail -->

<div class="buffer-25"></div>





<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainNav" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Genetic Golf", welcome_index_path, :class => 'navbar-brand' %>
    </div> <!-- navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="MainNav" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="navlist" class="nav nav-tabs">

        <li class="dropdown">
            <%= link_to "Know Your<br /> Personality".html_safe, welcome_personality_path, class: "dropdown-toggle", role: "button" %>
          <ul id="subnavlist" class="dropdown-menu">
            <li>
              <% if current_user.nil? || current_user.per_quiz.nil? %>
                 <%= link_to "Get Your Personality Profile ID", new_per_quiz_path %>
              <% else %>
                 <%= link_to "Personality Profile ID ✓", edit_per_quiz_path(current_user.per_quiz) %>
              <% end %>
            </li>
            <li>
              <%= link_to "Personalized Golf Tips Newsletter", welcome_newsletter_path %>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <%= link_to "Improve<br /> Your Game".html_safe, welcome_game_path, class: "dropdown-toggle", role: "button" %>
          <ul id="subnavlist" class="dropdown-menu">
            <li>
              <% if current_user.nil? || current_user.swing_book.nil? %>
                 <%= link_to "Your Genetic Golf Swing", new_swing_book_path %>
              <% else %>
                 <%= link_to "Full Swing ID ✓", edit_swing_book_path(current_user.swing_book) %>
              <% end %>
            </li>
            <li><%= link_to "Your Genetic Short Game", coming_soon_short_book_path %></li>
            <li><%= link_to "Your Genetic Putting Game", coming_soon_putting_book_path %></li>
            <li><%= link_to "Genetic Golf Private Instruction", game_instruction_path %></li>
            <li><%= link_to "Golf School and Custom Programs", game_programs_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <%= link_to "Understand<br /> Your Body".html_safe, welcome_body_path, class: "dropdown-toggle", role: "button" %>
          <ul id="subnavlist" class="dropdown-menu">
            <li>
              <% if current_user.nil? || current_user.bal_quiz.nil? %>
                 <%= link_to "Balance Quiz", new_bal_quiz_path %>
              <% else %>
                 <%= link_to "Balance Quiz ✓", edit_bal_quiz_path(current_user.bal_quiz) %>
              <% end %>
            </li>
            <li>
              <% if current_user.nil? || current_user.flex_quiz.nil? %>
                 <%= link_to "Flexibility Quiz", new_flex_quiz_path %>
              <% else %>
                 <%= link_to "Flexibility Quiz ✓", edit_flex_quiz_path(current_user.flex_quiz) %>
              <% end %>
            </li>
            <li>
              <% if current_user.nil? || current_user.bod_quiz.nil? %>
                 <%= link_to "Body Structure Quiz", new_bod_quiz_path %>
              <% else %>
                 <%= link_to "Body Structure Quiz ✓", edit_bod_quiz_path(current_user.bod_quiz) %>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <%= link_to "Your<br /> Resources".html_safe, welcome_resources_path, class: "dropdown-toggle", role: "button" %>
          <ul id="subnavlist" class="dropdown-menu">
            <li><%= link_to "Full Swing Club Fitting", fitting_full_path %></li>
            <li><%= link_to "Wedge Fitting", fitting_wedge_path %></li>
            <li><%= link_to "Putter Fitting", fitting_putter_path %></li>
            <li><%= link_to "Training Aids", resources_aids_path %></li>
            <li><%= link_to "Your Fitness Plan", resources_fitness_path %></li>
          </ul>
        </li>

        <li class="dropdown" id="about_us">
          <%= link_to "About<br /> Us".html_safe, welcome_about_path, class: "dropdown-toggle", role: "button" %>
          <ul id="subnavlist" class="dropdown-menu">
            <li><%= link_to "Benefits of Genetic Golf", about_benefits_path %></li>
            <li><%= link_to "Genetic Golf Principles", about_principles_path %></li>
            <li><%= link_to "Golf Staff and Awards", about_staff_path %></li>
            <li><%= link_to "Contact Us", welcome_contact_path %></li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
<% elsif flash.now[:alert] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash.now[:alert] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>



  <%= yield %>



<div class="buffer-25"></div>
<div class="push"></div>



</div> <!-- wrapper div end -->

<div class="footer">
  <div class="col-sm-10 col-sm-offset-1" id="sf-steps">
    <h4 class="text-center">Build Your Profile</h4>

    <div class="container col-xs-12 col-sm-3 sf-step" id="sf-step-1">
      <% if current_user.nil? %>
        <%= link_to (new_user_path) do %>
          <h5 class="no-color"><strong><%= image_tag "Checkbox Blank.png", class: "sf-checkbox", alt: "Blank Checkbox"%>
          Step 1: <br class="sm-none"></strong>Create Your Profile</h5></a>
        <% end %>
      <% elsif current_user.gender.nil? %>
         <%= link_to (edit_user_path(current_user)) do %>
            <h5 class="no-color"><strong><%= image_tag "Checkbox Blank.png", class: "sf-checkbox", alt: "Blank Checkbox"%>
            Step 1: <br class="sm-none"></strong>Create Your Profile</h5></a>
          <% end %>
      <% else %>
         <h5><strong><%= image_tag "Checkbox Green.png", class: "sf-checkbox", alt: "Checked Checkbox"%>
         Step 1: <br class="sm-none"></strong>Create Your Profile</h5>
      <% end %>
    </div> <!-- step 1 -->

    <div class="container col-xs-12 col-sm-3 sf-step" id="sf-step-2">
      <% if current_user.nil? || current_user.per_quiz.nil? %>
         <%= link_to(new_per_quiz_path) do %>
            <h5 class="no-color"><strong><%= image_tag "Checkbox Blank.png", class: "sf-checkbox", alt: "Blank Checkbox"%>
            Step 2: <br class="sm-none"></strong>Test Your Personality</h5></a>
         <% end %>
      <% else %>
         <h5><strong><%= image_tag "Checkbox Green.png", class: "sf-checkbox", alt: "Checked Checkbox"%>
         Step 2: <br class="sm-none"></strong>Test Your Personality</h5>
      <% end %>
    </div> <!-- step 2 -->

    <div class="container col-xs-12 col-sm-3 sf-step" id="sf-step-3">
      <% if current_user.nil? || current_user.swing_book.nil? %>
         <%= link_to(new_swing_book_path) do %>
            <h5 class="no-color"><strong><%= image_tag "Checkbox Blank.png", class: "sf-checkbox", alt: "Blank Checkbox"%>
            Step 3: <br class="sm-none"></strong>Test Your Swing</h5></a>
         <% end %>
      <% else %>
         <h5><strong><%= image_tag "Checkbox Green.png", class: "sf-checkbox", alt: "Checked Checkbox"%>
         Step 3: <br class="sm-none"></strong>Test Your Swing</h5>
      <% end %>
    </div> <!-- step 3 -->

    <div class="container col-xs-12 col-sm-3 sf-step" id="sf-step-4">
      <% if current_user.nil? %>
        <%= link_to (new_user_path) do %>
          <h5 class="no-color"><strong><%= image_tag "Checkbox Blank.png", class: "sf-checkbox", alt: "Blank Checkbox"%>
          Step 4: <br class="sm-none"></strong>Finish Your Profile</h5></a>
        <% end %>
      <% elsif current_user.bal_quiz.nil? || current_user.flex_quiz.nil? || current_user.bod_quiz.nil? %>
         <%= link_to(user_path(current_user)) do %>
            <h5 class="no-color"><strong><%= image_tag "Checkbox Blank.png", class: "sf-checkbox", alt: "Blank Checkbox"%>
            Step 4: <br class="sm-none"></strong>Finish Your Profile</h5></a>
         <% end %>
      <% else %>
         <h5><strong><%= image_tag "Checkbox Green.png", class: "sf-checkbox", alt: "Checked Checkbox"%>
         Step 4: <br class="sm-none"></strong>Finish Your Profile</h5>
      <% end %>
    </div> <!-- step 4 -->

    <div class="buffer-15"> </div>
  </div> <!-- steps end -->




  <div class="col-xs-12 col-sm-3" id="sf-sm">
    <h4 class="text-center">Connect with Us</h4>
    <div class="container sm-unit" id="facebook">
      <p><%= image_tag "Social Media/Logos   Facebook.png", class: "sm-icon", alt: "facebook" %>
      Facebook</p>
    </div> <!-- facebook end -->
    <div class="container sm-unit" id="twitter">
      <p><%= image_tag "Social Media/Logos   Twitter.png", class: "sm-icon", alt: "twitter" %>
      Twitter</p>
    </div> <!-- facebook end -->
    <div class="container sm-unit" id="youtube">
      <p><%= image_tag "Social Media/Logos   Youtube.png", class: "sm-icon", alt: "youtube" %>
      YouTube</p>
    </div> <!-- facebook end -->
    <div class="container sm-unit" id="google">
      <p><%= image_tag "Social Media/Logos   Google.png", class: "sm-icon", alt: "google" %>
      Google+</p>
    </div> <!-- facebook end -->
    <div class="container sm-unit" id="linkedin">
      <p><%= image_tag "Social Media/Logos   LinkedIn.png", class: "sm-icon", alt: "linkedin" %>
      LinkedIn</p>
    </div> <!-- facebook end -->
  </div> <!-- sm end -->




  <div class="container col-xs-12 col-sm-9" id="sf-philosophy">
    <h4 class="text-center">Genetic Golf Philosophy</h4>
    <p>Genetic Golf’s new personal dynamic learning style will change the future of golf lessons! We don’t guess, we test. Instead of telling everyone to make the exact same swing or guessing at what might benefit you, we test your body and your mind. As a result we find your body’s best genetic and neurokinetic motion and match that up to you and your golf game and you can start to repeat it with success.
    <br><small>© Copyright 2014 by Genetic Golf. All Rights Reserved.</small></p>
  </div> <!-- end philosophy -->


</div> <!-- sticky footer end -->












<div class="fixed-footer">
  <div id="ff-text-container" class="container col-md-5">
    <p class="text-muted">Find your personalized Genetic Golf swing today!</p>
  </div>
  <div id="ff-image-container" class="container col-md-7 col-md-offset-0 pull-right-md">
    <div class="row">
      <div class="col-xs-2"><%= image_tag "V3   Genetic Golf   Array-01.png", class: "f-footer-logo", alt: "Genetic Golf Logo" %></div>
      <div class="col-xs-2"><%= image_tag "Featured Bar Icons/PGA logo.jpg", class: "f-footer-logo", alt: "PGA Certified Logo" %></div>
      <div class="col-xs-2"><%= image_tag "Featured Bar Icons/Golf Magazine Top 100 Logo.png", class: "f-footer-logo", alt: "Golf Magazine Top 100 Logo" %></div>
      <div class="col-xs-2"><%= image_tag "Featured Bar Icons/Golf Tips Top 25 Teachers Logo NB.png", class: "f-footer-logo", alt: "Golf Tips Top 25 Teachers Logo" %></div>
      <div class="col-xs-2"><%= image_tag "Featured Bar Icons/TPI Certified Logo NB.png", class: "f-footer-logo", alt: "TPI Certified Logo" %></div>
      <div class="col-xs-2"><%= image_tag "Featured Bar Icons/EliteGolf 360 Logo NB.png", class: "f-footer-logo", alt: "Elite Golf 360 Logo" %></div>
    </div> <!-- row ends -->
  </div> <!-- ff-container ends -->
</div>  <!-- fixed footer end -->

</body>
</html>
